Firmware/tlapixki-firmware/build/
Firmware/tlapixki-firmware/sdkconfig/
Firmware/tlapixki-firmware/sdkconfig.old/
Firmware/ESP32-firmware/build/
Firmware/ESP32-firmware/sdkconfig/

Software/WebApp/venv